* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Ingresar {
  display: flex;
  margin: 1% 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Ingresar button {
  margin: 20% 0 0 ;
  padding: 2% 5%
}