.NavBar {
  display: flex;
  background: transparent;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background: #090446;

}

.Categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Option {
  text-decoration: none;
  border-radius: 25;
  margin: 0 20px;
  width: auto;
  padding: 12px;
  font-size: 100%;
  font-weight: bolder;
  border-radius: 8px;
  flex: none;
  display: flex;
  order: 1;
  align-self: center;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: inherit;
  box-shadow: 0 2px 2px 2px rgba(237, 236, 236, 0.23);
 
}

.Option :hover {
  color: red;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: inherit;
}


.NavLink {
  color :rgb(255, 0, 0)
}