.CardCartItem {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 20px;
    margin: 30px;
    font-size: 16px;
    background-color: #090446;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bolder;
}

.InfoCartItem {
    margin-right: 50px;
    color: white;
}

.ContainerItemCartItem {
    display: flex;
    justify-content: space-between;
    color: white;

}

.ItemHeaderCartItem {
    display: flex;
    justify-content: space-between;
    color: white;
}

.InfoCartItem {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.ButtonCartItem {
    width: auto;
    padding: 12px;
    font-size: 15px;
    background-color: #cb6308;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}

.ItemFooterCartItem {
    display: flex;
    background-color: #090446;
    color: white;

}

.Option{
    background-color: #090446;
    color: white;
}